

body
{
    background-color: rgb(5, 5, 48);    
}
.container
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:20px;
    overflow-y: auto;
    white-space: nowrap;
    background: linear-gradient(rgb(245, 223, 123),rgb(0, 255, 221));
    border-radius: 25px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin:20px auto;
    overflow:visible;
}
.row ,.col
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todo
{
    font-size: larger;
}
.input
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#inp
{
    flex-direction: column;
    height: 45px;
    width:350px;
    border-radius: 8px;
    margin:10px;
    margin-left: 5px;

}
#enter 
{ 
    margin:10px;
    border-radius: 8px;
    border-width:0;
    padding: 4%;
    width: 50px;
    height: 40px;
    font-size: 25px;
    background-color: green;
    color: white;
}
#enter:hover{
    background-color:brown;
}
#selected , #all
{
    margin-left: 10px;
    margin-top: 10px;
    margin-right:70px;
    border-radius: 8px;
    border-width:0;
    padding:10px;
    font-size: 14px;
    font-weight: bold;
}


#low{
    margin-top: 25px;
    font-weight: bold;
    
}
.foot{
    margin-top: 10px;
    font-size: 20px;
}
ul {
    padding: 3%;
    border-radius: 8px;
    margin: 12px;
    font-weight: bold;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px; /* Adds spacing inside */
    margin: 5px 0; /* Adds space between tasks */
    border-bottom: 1px solid #ddd; /* Separates tasks */
    background-color: rgb(255, 229, 177);
    border-radius: 8px; /* Smooth corners */
}

/* Moves text to left and checkbox to right */
li button{
    order:3;
}
li input[type="checkbox"] {
    order: 2; 

}

li span {
    order: 1;
    flex-grow: 1;
    text-align: left;
    padding-left: 10px; /* Adds spacing from checkbox */
}

button:hover{
    background-color:cornflowerblue;
}
